@*
/*********************************************************************
 *
 * PROPRIETARY and CONFIDENTIAL
 *
 * This is licensed from, and is trade secret of:
 *
 *          Group 10 - PRN231 - SU23
 *          FPT University, Education and Training zone
 *          Hoa Lac Hi-tech Park, Km29, Thang Long Highway
 *          Ha Noi, Viet Nam
 *
 * Refer to your License Agreement for restrictions on use,
 * duplication, or disclosure
 *
 * RESTRICTED RIGHTS LEGEND
 *
 * Use, duplication or disclosure is the
 * subject to restriction in Articles 736 and 738 of the
 * 2005 Civil Code, the Intellectual Property Law and Decree
 * No. 85/2011/ND-CP amending and supplementing a number of
 * articles of Decree 100/ND-CP/2006 of the Government of Viet Nam
 *
 *
 * Copy right 2023 © PRN231 - SU23 - Group 10 ®. All Rights Reserved
 *
 * Unpublished - All rights reserved under the copyright laws
 * of the Government of Viet Nam
*********************************************************************/
*@
@{
    Layout = "_AdminLayout";
}
@using ElectronicMedia.Core.Repository.Models;
@using ElectronicWeb.Models;
<h1>User management</h1>
<a class="btn btn-primary">Add new user</a>
<table class="table">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Email</th>
            <th>UserName</th>
            <th>PhoneNumber</th>
            <th>Dob</th>
            <th>Role</th>
            <th>Image</th>
            <th>IsActivate</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (UsersModel item in Model.Values)
            {
                <tr>
                    <td>@item.FullName</td>
                    <td>@item.Email</td>
                    <td>@item.UserName</td>
                    <td>@item.PhoneNumber</td>
                    <td>@item.Dob.ToString("dd/MM/yyyy")</td>
                    <td>
                        <form asp-controller="User" asp-action="ChangeRole">
                            <select class="form-controll" onchange="this.form.submit()">
                                <option class="form-controll text-success" value="@item.RoleName" selected="@(item.RoleName == "UserNormal")">UserNormal</option>
                                <option class="form-controll text-black" value="@item.RoleName" selected="@(item.RoleName == "Writer")">Writer</option>
                                <option class="form-controll text-primary" value="@item.RoleName" selected="@(item.RoleName == "Leader")">Leader</option>
                                <option class="form-controll text-warning" value="@item.RoleName" selected="@(item.RoleName == "EditorDirector")">EditorDirector</option>
                                <option class="form-controll text-info" value="@item.RoleName" selected="@(item.RoleName == "Admin")">Admin</option>
                            </select>
                        </form>
                    </td>
                    <td></td>
                    <td>
                        @{
                            if (item.IsActived)
                            {
                                <p class="text text-success">Active</p>
                            }
                            else
                            {
                                <p class="text text-danger">Deactive</p>
                            }
                        }
                    </td>
                    <td>@item.Gender</td>
                    <td>@item.Department?.Name</td>
                    <td>
                        
                        @{
                            if (item.IsActived)
                            {
                                <a class="text-danger" asp-controller="User" asp-action="DeactiveUser">
                                    Deactivate
                                </a>
                            }
                            else
                            {
                                <a class="text-success" asp-controller="User" asp-action="DeactiveUser">
                                    Activate
                                </a>
                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div>
    @if (Model.TotalPages > 0)
    {
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="User" asp-action="UserManager" asp-route-currentPage="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" asp-controller="User" asp-action="UserManager" asp-route-currentPage="@(Model.CurrentPage -1)"> <span aria-hidden="true">&laquo;</span></a>
                </li>
            }
            @{
                int start = Model.CurrentPage - 5;
                int end = Model.CurrentPage + 4;
                if (start <= 0)
                {
                    end = end - (start - 1);
                    start = 1;
                }
                if (end > Model.TotalPages)
                {
                    end = Model.TotalPages;
                    if (end > 10)
                    {
                        start = end - 9;
                    }
                }
            }
            @for (int i = start; i <= end; i++)
            {
                <li class="page-item @(i == Model.CurrentPage?"active":"")">
                    <a class="page-link" asp-controller="User" asp-action="UserManager" asp-route-currentPage="@i">@i</a>
                </li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" aria-label="Next" asp-controller="User" asp-action="UserManager" asp-route-currentPage="@(Model.CurrentPage + 1)"><span aria-hidden="true">&raquo;</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="User" asp-action="UserManager" asp-route-currentPage="@(Model.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>
