@*
/*********************************************************************
 *
 * PROPRIETARY and CONFIDENTIAL
 *
 * This is licensed from, and is trade secret of:
 *
 *          Group 10 - PRN231 - SU23
 *          FPT University, Education and Training zone
 *          Hoa Lac Hi-tech Park, Km29, Thang Long Highway
 *          Ha Noi, Viet Nam
 *
 * Refer to your License Agreement for restrictions on use,
 * duplication, or disclosure
 *
 * RESTRICTED RIGHTS LEGEND
 *
 * Use, duplication or disclosure is the
 * subject to restriction in Articles 736 and 738 of the
 * 2005 Civil Code, the Intellectual Property Law and Decree
 * No. 85/2011/ND-CP amending and supplementing a number of
 * articles of Decree 100/ND-CP/2006 of the Government of Viet Nam
 *
 *
 * Copy right 2023 © PRN231 - SU23 - Group 10 ®. All Rights Reserved
 *
 * Unpublished - All rights reserved under the copyright laws
 * of the Government of Viet Nam
*********************************************************************/
*@

@using ElectronicWeb.Routes;
@using ElectronicWeb.Service;
@using ElectronicMedia.Core.Common;
@inject ITokenService _tokenService

@{
    string token = _tokenService.GetToken();
    string roleName = "";
    var tokenModel = _tokenService.GetTokenModelUI(token);
    roleName = tokenModel.RoleName;
    HttpResponseMessage respone = CommonUIService.GetDataAPI($"{RoutesManager.GetDepartmentIdByUserId}/{Guid.Parse(tokenModel.UserId)}", MethodAPI.GET, token);
    Guid departmentId = Guid.Empty;
    if (respone.IsSuccessStatusCode)
    {
        var data = respone.Content.ReadAsStringAsync().GetAwaiter().GetResult();
        departmentId = Guid.Parse(data);
    }
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ElectronicMedia</title>
    <link rel="shortcut icon" type="image/png" href="~/admin/assets/images/logos/ElectronicMedia.png" />
    <link rel="stylesheet" href="~/admin/assets/css/styles.min.css" asp-append-version="true" />
    <script src="~/js/tinymce/js/tinymce/tinymce.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/category.js" asp-append-version="true"></script>
    <script src="~/js/post.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" asp-append-version="true"></script>
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="/" class="text-nowrap logo-img">
                        <img src="~/admin/assets/images/logos/ElectronicMedia.png" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="./" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu">Manager</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="User" asp-action="UserManager" hidden="@(!roleName.Equals(UserRole.Admin))">
                                <span>
                                    <i class="ti ti-user"></i>
                                </span>
                                <span class="hide-menu">User</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Post" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu">Post</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Department" hidden="@(!roleName.Equals(UserRole.Admin) && !roleName.Equals(UserRole.EditorDirector))" asp-action="Index" aria-expanded="false">
                                <span>
                                    <i class="ti ti-box"></i>
                                </span>
                                <span class="hide-menu">Department</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" asp-controller="Department" hidden="@(!roleName.Equals(UserRole.Leader) || departmentId == Guid.Empty)" asp-route-userId="@tokenModel.UserId" asp-action="LeaderIndex" aria-expanded="false">
                                <span>
                                    <i class="ti ti-box"></i>
                                </span>
                                <span class="hide-menu">Your Department</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        <div class="body-wrapper">
            <!--  Header Start -->
            <header class="app-header">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <ul class="navbar-nav">
                        <li class="nav-item d-block d-xl-none">
                            <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                                <i class="ti ti-menu-2"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                                <i class="ti ti-bell-ringing"></i>
                                <div class="notification bg-primary rounded-circle"></div>
                            </a>
                        </li>
                    </ul>
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
                            <li class="nav-item dropdown">
                                <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    <img src="~/admin/assets/images/profile/user-1.jpg" alt="" width="35" height="35" class="rounded-circle">
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="/user/userProfile" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">My Profile</p>
                                        </a>
                                        <button onclick="logout(event)" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!--  Header End -->
            <div class="container-fluid">
                @RenderBody();
            </div>
        </div>
    </div>
    <div class="modal fade" id="genericModal" tabindex="-1" role="dialog" aria-labelledby="genericModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="genericModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body-black" id="genericModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/admin/assets/js/sidebarmenu.js" asp-append-version="true"></script>
    <script src="~/admin/assets/js/app.min.js" asp-append-version="true"></script>
    <script src="~/admin/assets/libs/simplebar/dist/simplebar.js" asp-append-version="true"></script>
    <script src="~/js/login.js"></script>
    <script>
        $(document).ready(function () {
            $(".modal .close,.modal-footer").click(function () {
                $("#genericModal").modal("hide"); // Đóng modal
            });
        });
    </script>
    <script>
        tinymce.init({
            selector: 'textarea#textarea',
            plugins: 'anchor autolink charmap codesample emoticons image code link lists media searchreplace table visualblocks wordcount image code',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | addcomment showcomments | spellcheckdialog a11ycheck | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat | code',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            image_title: true,
            automatic_uploads: true,
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                input.onchange = function () {
                    var file = this.files[0];
                    var formData = new FormData();
                    formData.append('image', file);
                    $.ajax({
                        url: 'http://localhost:5243/api/Image', // Đường dẫn API xử lý tải ảnh lên máy chủ (project 1)
                        type: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (data != null) {
                                // Trả về URL ảnh đã tải lên thành công
                                cb(data, { title: file.name });
                            } else {
                                alert('Tải ảnh lên thất bại');
                            }
                        },
                        error: function () {
                            alert('Có lỗi xảy ra trong quá trình tải ảnh');
                        }
                    });
                };
                input.click();
            }
        });
        document.addEventListener("DOMContentLoaded", function () {
            // Get references to the file input and image tag
            const imageInput = document.getElementById("imageInput");
            const selectedImage = document.getElementById("selectedImage");
            const removeImageBtn = document.getElementById("removeImageBtn");
            // Add an event listener to the file input to handle changes
            imageInput.addEventListener("change", function () {
                // Get the selected file
                const file = imageInput.files[0];

                // Check if a file was selected
                if (file) {
                    // Create a FileReader to read the file
                    const reader = new FileReader();

                    // Set up the FileReader to display the selected image when it's loaded
                    reader.onload = function () {
                        selectedImage.src = reader.result;
                        selectedImage.style.display = "block"; // Show the image
                        removeImageBtn.style.display = "block";
                    };

                    // Read the file as a data URL (base64 encoded string)
                    reader.readAsDataURL(file);
                } else {
                    // If no file was selected, hide the image
                    selectedImage.src = "";
                    selectedImage.style.display = "none";
                    removeImageBtn.style.display = "none";
                }
                removeImageBtn.addEventListener("click", function (event) {
                    event.preventDefault();
                    // Clear the selected file and hide the image and remove button
                    imageInput.value = null;
                    selectedImage.src = "";
                    selectedImage.style.display = "none";

                    removeImageBtn.style.display = "none";
                });
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
