@*
/*********************************************************************
 *
 * PROPRIETARY and CONFIDENTIAL
 *
 * This is licensed from, and is trade secret of:
 *
 *          Group 10 - PRN231 - SU23
 *          FPT University, Education and Training zone
 *          Hoa Lac Hi-tech Park, Km29, Thang Long Highway
 *          Ha Noi, Viet Nam
 *
 * Refer to your License Agreement for restrictions on use,
 * duplication, or disclosure
 *
 * RESTRICTED RIGHTS LEGEND
 *
 * Use, duplication or disclosure is the
 * subject to restriction in Articles 736 and 738 of the
 * 2005 Civil Code, the Intellectual Property Law and Decree
 * No. 85/2011/ND-CP amending and supplementing a number of
 * articles of Decree 100/ND-CP/2006 of the Government of Viet Nam
 *
 *
 * Copy right 2023 © PRN231 - SU23 - Group 10 ®. All Rights Reserved
 *
 * Unpublished - All rights reserved under the copyright laws
 * of the Government of Viet Nam
*********************************************************************/
*@
@using ElectronicMedia.Core.Repository.Entity;
@using ElectronicMedia.Core.Common;
@using ElectronicMedia.Core.Repository.Models;
@using ElectronicWeb.Models;
@{
    Layout = "_AdminLayout";
}
@{
    TokenUIModel user = ViewBag.User;
    string status = ViewBag.SelectedStatus;
}
<h1>Post manager</h1>

<div style="margin-bottom: 30px">
    <form asp-controller="Post" asp-action="index" method="get" style="display: flex; margin:30px 0px">
        <input class="form-control" name="text" value="@ViewBag.Text" type="search" placeholder="Search Title or Content..." />
        <input type="submit" class="btn btn-outline-primary" value="Search" /> <br />
    </form>
    <form asp-controller="Post" asp-action="index" method="get">
        <label>Filter Status</label>
        <select name="status" onchange="this.form.submit()" class="form-select">
            <option value="All" selected="@(status == "All"? true:false)">--All---</option>
            <option value="Pending" selected="@(status == "Pending"? true:false)">Pending</option>
            <option value="Approved" selected="@(status == "Approved"? true:false)">Approved</option>
            <option value="Published" selected="@(status == "Published"? true:false)">Published</option>
            <option value="Denied" selected="@(status == "Denied"? true:false)">Denied</option>
        </select>
    </form>
</div>

<div style="float: right">
    @Html.ActionLink("Export to excel", "DownloadExcel", "Post", null, new { @class = "btn btn-primary" })
    <a class="btn btn-primary" href="/post/add">Write Post</a>
</div>
<table class="table" style="margin-bottom: 20px">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>AuthorName</th>
            <th>CreatedDate</th>
            <th>PublishedDate</th>
            <th>Rate</th>
            <th>Like</th>
            <th>Dislike</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PostViewModel p in Model.Values)
        {
            <tr>
                <td style="width:40%">@p.Title</td>
                <td>@p.Description</td>
                <td>@p.AuthorName</td>
                <td>@p.CreatedDate.ToString("dd/MM/yyyy")</td>
                <td>@p.PublishedDate.Value.ToString("dd/MM/yyyy")</td>
                <td>@p.Rate</td>
                <td>@p.Like</td>
                <td>@p.Dislike</td>
                @if (p.Status.ToString() == "Pending")
                {
                    <td style="color:blue">@p.Status</td>
                }
                else if (p.Status.ToString() == "Approved")
                {
                    <td style="color:dodgerblue">@p.Status</td>
                }
                else if (p.Status.ToString() == "Published")
                {
                    <td style="color:green">@p.Status</td>
                }
                else
                {
                    <td style="color:red">@p.Status</td>
                }

                <td class="button-cell">

                    <a asp-controller="Post" asp-action="Detail" asp-route-pid="@p.Id" type="button" class="btn btn-success"><i class="ti ti-eye"></i></a>
                    @if (user.RoleName != UserRole.Writer || (user.RoleName == UserRole.Writer && p.Status.ToString() == "Pending"))
                    {
                        <a asp-controller="Post" asp-action="Update" asp-route-pid="@p.Id" asp-route-currentPage="@Model.CurrentPage" type="button" class="btn btn-primary"><i class="ti ti-edit"></i></a>

                    }

                    @if ((user.RoleName != UserRole.Leader && user.RoleName != UserRole.Writer) || (user.RoleName == UserRole.Writer && p.Status.ToString() == "Pending"))
                    {
                        <a asp-controller="Post" asp-action="Delete" asp-route-pid="@p.Id" type="button" class="btn btn-danger"><i class="ti ti-trash"></i></a>

                    }


                </td>


            </tr>
        }

    </tbody>
</table>

<div>
    @if (Model.TotalPages > 0)
    {
        <ul class="pagination justify-content-center">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Post" asp-action="Index" asp-route-currentPage="1">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" asp-controller="Post" asp-action="Index" asp-route-currentPage="@(Model.CurrentPage -1)"> <span aria-hidden="true">&laquo;</span></a>
                </li>
            }
            @{
                int start = Model.CurrentPage - 5;
                int end = Model.CurrentPage + 4;
                if (start <= 0)
                {
                    end = end - (start - 1);
                    start = 1;
                }
                if (end > Model.TotalPages)
                {
                    end = Model.TotalPages;
                    if (end > 10)
                    {
                        start = end - 9;
                    }
                }
            }
            @for (int i = start; i <= end; i++)
            {
                <li class="page-item @(i == Model.CurrentPage?"active":"")">
                    <a class="page-link" asp-controller="Post" asp-action="Index" asp-route-currentPage="@i">@i</a>
                </li>
            }
            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" aria-label="Next" asp-controller="Post" asp-action="Index" asp-route-currentPage="@(Model.CurrentPage + 1)"><span aria-hidden="true">&raquo;</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" asp-controller="Post" asp-action="Index" asp-route-currentPage="@(Model.TotalPages)">Last</a>
                </li>
            }
        </ul>
    }
</div>

<div class="modal fade" id="modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span id="modal-content"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<style>
    table {
        width: 100%;
    }

    .button-cell {
        display: grid;
        grid-template-columns: repeat(3, auto);
        justify-content: end;
        align-items: center;
        gap: 10px; /* Adjust this value to set the space between buttons */
    }

    .search {
        height: 10%;
    }

    .first {
        width: 70%;
    }
</style>

